<div class="span6 offset4 text-center steamy-hottub">

	<h1 class='custom-font'>Linh Pham</h1>

	<h2>When monkeys take a bath</h2>

	<%= link_to 'Launch','#', :class => 'btn btn-warning btn-large' %>

</div>
