<div class="text-center steamy-hottub">
	<h2>
		
		<% @pics.each do |pic| %>
			Hour(s): <%= pic.hour %>
			<br>
			Emotion: <%= pic.emotion %>
			<br>
			What I learned: <%= pic.learned %>
			<br><br>
		<% end %>

	</h2>
</div>