
<% @pics.each do |pic| %>
	<div class="steamy-hottub span5">
		<h1 class="custom-font">
			Hour: <%= pic.hour %>
			<br>
		</h1>
			<%= image_tag pic.image %>
			<br>
		<h2>
			Emotion: <%= pic.emotion %>
			<br>
			What I learned: <%= pic.learned %>
		<br><br>
		</h2>
	</div>
<% end %>
